!!!
%html
  %head
    %title GeoMap Exercise
    != css :application
    != js :application
  %body
    = haml :_search, layout: false
    = haml :_sidebar, layout: false
    .main.container
      = yield
